@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

/* nice scrollbar */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.15); border-radius: 10px; }
*::-webkit-scrollbar-track { background: transparent; }
